body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.redd.it/wmf4pf98d4l61.png");
  background-size: cover;
}
.alert {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 2vh;
  transform: scale(0.8);
  /* edit it to scale element */
}
#content {
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
#select {
  background-color: transparent;
  color: white;
  border: 0;
  transform: scale(2);
  outline: none;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
